<%= form_for(@request_datum) do |f| %>
  <% if @request_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request_datum.errors.count, "error") %> prohibited this request_datum from being saved:</h2>

      <ul>
      <% @request_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.text_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :agent_id %><br>
    <%= f.text_field :agent_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
